
@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, p, ul, li, img, a, dl, dt, dd {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
	border: none;
	color: #707070;
	font-family: "宋体";
	font-size: 12px;
}
body {
}
#head {
	background: url(../images/bg_head.png) repeat-x 0px 0px;
}
.head {
	width: 1002px;
	margin: 0 auto;
}
.top {
	height: 105px;
}
.logo {
	float: left;
	width: 498px;
	padding: 30px 0 0 13px;
	height: 74px;
}
.topr {
	float: right;
	width: 473px;
	height: 105px;
	background: url(../images/bg_topr.png) no-repeat 10px 0;
}
.shoucang {
	height: 28px;
	line-height: 28px;
	text-align: right;
	padding-right: 4px;
}
.shoucang a {
	margin: 0 4px;
	color: #636363;
}
.dianhua {
	text-align: right;
	padding-right: 70px;
	margin-top: 10px;
}
.logo a {
	display: block;
	width: 494px;
	height: 66px;
	background: url(../images/logo.png) no-repeat 0 0;
	text-indent: -9999em;
}
.menu {
	height: 40px;
}
.menu ul {
	height: 40px;
	padding-left: 23px;
}
.menu ul li {
	float: left;
	background: url(../images/bg_li.png) no-repeat right 0;
	height: 40px;
	padding: 0 12px 0 10px;
}
.menu ul li a {
	display: block;
	height: 40px;
	padding: 0 22px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-family: "Microsoft YaHei UI";
	font-size: 14px;
}
.menu ul li a:hover, .menu ul li a.hover {
	background: #1a9ff7;
}
.banner {
	height: 299px;
	margin-top: 8px;
}
.con {
	width: 1002px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.floor1 {
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}
.f1l {
	float: left;
	width: 614px;
	border: 1px solid #ccc;
	margin-bottom: 16px;
}
.f1l .title, .floor2 .title, .right .title {
	height: 30px;
	background: #f1f1f1;
	border-bottom: 1px solid #ccc;
}
.f1l .title h2, .floor2 .title h2, .right .title h2 {
	float: left;
	background: #0d6ece;
	color: #fff;
	padding: 0 28px;
	font-family: "Microsoft YaHei UI";
	font-size: 16px;
	line-height: 30px;
}
.f1l .title span, .floor2 .title span, .right .title span {
	float: right;
	line-height: 30px;
	padding-right: 9px;
	display: block;
}
.f1l .title span a, .floor2 .title span a {
	font-family: Verdana, Geneva, sans-serif;
}
.f1l .gsjj {
	line-height: 2em;
	padding: 18px 12px 0px 274px;
	height: 186px;
	background: url(../images/gsjj.jpg) no-repeat 24px 18px;
}
.f1l .gsjj a.more {
	color: #f00;
	font-weight: bold;
}
.f1l ul.zhishi {
	padding: 4px 12px;
	height: 196px;
	overflow: hidden;
}
.f1l ul.zhishi li {
	height: 28px;
	line-height: 28px;
	position: relative;
}
.f1l ul.zhishi li span {
	position: absolute;
	right: 0;
	top: 0;
}
.f1l .lxwm {
	line-height: 1.9em;
	height: 114px;
	padding: 90px 16px 6px;
	background: url(../images/bg_lxwm.jpg) no-repeat center 10px;
}
.slideTxtBox {
	height: auto;
	overflow: hidden;
}
.slideTxtBox .hd {
	height: 30px;
	background: url(../images/bg_hd.png) repeat-x 0px 0px;
}
.slideTxtBox .hd ul {
	float: left;
	padding: 3px 0 0 5px;
}
.slideTxtBox .hd ul li {
	line-height: 26px;
	height: 26px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #ccc;
	border-bottom: none;
	float: left;
	margin-right: 5px;
}
.slideTxtBox .hd ul li a {
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px 4px 0 0;
	color: #000;
	display: block;
	text-align: center;
	padding: 0 10px;
	line-height: 26px;
	height: 26px;
}
.slideTxtBox .hd ul li.on a {
	background: #fff;
	color: #0b89dd;
}
.slideTxtBox .hd .gd {
	float: right;
	height: 30px;
	line-height: 30px;
	padding-right: 8px;
}
.slideTxtBox .hd .gd a {
	font-family: Verdana, Geneva, sans-serif;
}
.slideTxtBox .bd {
}
.slideTxtBox .bd ul {
	padding: 4px 10px;
	height: 203px;
	overflow: hidden;
}
.slideTxtBox .bd ul li {
	height: 28px;
	line-height: 28px;
	position: relative;
	float: left;
	width: 380px;
}
.slideTxtBox .bd ul li.first {
	float: left;
	width: 255px;
	height: 179px;
	padding-top: 8px;
}
.slideTxtBox .bd ul li.first img {
	width: 237px;
}
.slideTxtBox .bd ul li span {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 28px;
}
.slideTxtBox .bd ul li a:hover {
	color: #007bc1;
}
.floor2 {
	border: 1px solid #ccc;
	clear: both;
}
.leftLoop {
	padding: 17px 0 0 7px;
}
.leftLoop .bd {
	width: 985px;
	overflow: hidden;
}
.leftLoop ul li {
	float: left;
	width: 186px;
	margin-right: 13px;
}
.leftLoop ul li a.pic {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 186px;
	height: 150px;
}
.leftLoop ul li a.pic img {
	max-width: 186px;
	max-height: 150px;
width: expression(this.width > 186 && this.width > this.height ? 186 : auto);
height: expression(this.height > 150 ? 150 : auto);
}
.leftLoop ul li p {
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.flink {
	border: 1px solid #c4c4c4;
	margin-top: 20px;
}
.flink h2 {
	height: 26px;
	line-height: 26px;
	background: url(../images/bg_h2.png) repeat-x 0px 0px;
}
.flink h2 span {
	color: #fff;
	background: url(../images/bg_s.png) no-repeat 0px 0px;
	text-align: center;
	display: inline-block;
	width: 76px;
	height: 31px;
}
.link {
	background: #f5f5f5;
	line-height: 22px;
	padding: 10px;
}
.link a {
	margin-right: 10px;
}
#footer {
	background: #ebebeb;
	clear: both;
	margin-top: 10px;
}
.footer {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 16px;
	width: 1002px;
	margin: 0 auto;
}
.footernav {
	height: 34px;
	line-height: 34px;
}
.footernav a {
	margin: 0 6px;
}
.footer p {
	margin: 6px 0;
}
.left {
	float: left;
	width: 254px;
	margin-top: 20px;
}
.lanmu {
	border: 1px solid #ccc;
	background: #fefefe;
}
.lanmu h2 {
	height: 38px;
	line-height: 38px;
	text-indent: 50px;
	color: #0055a6;
	font-weight: bold;
	font-size: 14px;
	background: url(../images/bg_s1.png) no-repeat 31px center #eeeeee;
	position: relative;
}
.lanmu h2 span {
	position: absolute;
	top: 0;
	line-height: 38px;
	right: 8px;
	font-family: Verdana, Geneva, sans-serif;
}
.lanmu h2 span a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
.lanmu ul.lm {
	padding: 6px 19px 12px;
}
.lanmu ul.lm li {
	height: 31px;
	margin-bottom: 12px;
}
.lanmu ul.lm li a {
	display: block;
	border-radius: 1px;
	border: 1px solid #e2e2e2;
	height: 29px;
	line-height: 29px;
	background: url(../images/bg_dda.png) no-repeat 18px center;
	font-family: microsoft yahei;
	color: #000;
	font-size: 14px;
	text-indent: 45px;
}
.lanmu ul.lm li a:hover {
	background: url(../images/bg_dda.png) no-repeat 18px center #0d6ece;
	color: #fff;
}
.lanmu ul.news {
	padding: 10px 12px 0;
	height: 211px;
}
.lanmu ul.news li {
	height: 30px;
	line-height: 30px;
	position: relative;
}
.lanmu ul.news li span {
	line-height: 30px;
	right: 0;
	top: 0;
	position: absolute;
}
.right {
	float: right;
	width: 730px;
	background: #fefefe;
	margin-top: 20px;
	border: 1px solid #ccc;
}
.right .title span a {
	margin: 0 4px;
}
.nr {
	line-height: 2em;
	padding: 15px 20px;
	font-family: microsoft yahei;
}
.nr img {
	max-width: 700px;
}
.left .lanmu {
	margin-bottom: 12px;
}
.lanmu .lxwm {
	line-height: 2em;
	background: url(../images/bg_lxwm.jpg) no-repeat center 9px;
	padding: 105px 13px 20px;
	line-height: 2em;
	color: #000;
}
.right .lanmu h2 span {
	font-weight: normal;
	color: #000;
	font-size: 12px;
}
.right .lanmu h2 span a {
	margin: 0 4px;
	font-size: 12px;
}
